<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <div style="display: flex;">
    <mat-icon class="mail">email</mat-icon>
    <span style="margin-left: 10px;">Coodesh Challenge</span>
  </div>

  <span class="example-spacer"></span>
  <a href="{{linkedin}}" target="_blank" rel="noopener noreferrer"
  style="font-style: none; color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <ng-icon name="bootstrapLinkedin"></ng-icon>
    </button>
  </a>
  <a href="{{gitHub}}" target="_blank" rel="noopener noreferrer"
  style="font-style: none; color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <ng-icon name="bootstrapGithub"></ng-icon>
    </button>
  </a>
</mat-toolbar>

<main>
  <section class="email-input">
    <app-email-component (sendEmailsEvent)="searchForEmails($event)"></app-email-component>
  </section>

  <section class="email-section">
    <div class="inbox-div">
      <div class="inbox-title">
        Inbox
      </div>
      <div class="inbox-content">
        <div *ngFor="let email of emailsTest; let i = index" 
        (click)="selectedEmail($event,i)"
        class="email-item" 
        style="display: flex; flex-direction: column;">
          <h2>{{email.headerSubject}}</h2>
          <h3>{{email.headerSubject}}</h3>
          <p>{{email.text.substring(1,50)}}...</p>
        </div>
      </div>
    </div>
    <div class="email-div">
      <div class="email-title">

      </div>
      <div class="email-content" *ngIf="emailSelected">
        <div class="email-content-title">
          {{emailSelected.headerSubject}}
        </div>
        <div class="email-content-cont">
          {{emailSelected.text}}
        </div>
      </div>
    </div>
  </section>
</main>