<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <div style="display: flex;">
    <mat-icon class="mail">email</mat-icon>
    <span style="margin-left: 10px;">Coodesh Challenge</span>
  </div>

  <span class="example-spacer"></span>
  <a href="{{linkedin}}" target="_blank" rel="noopener noreferrer"
  style="font-style: none; color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <ng-icon name="bootstrapLinkedin"></ng-icon>
    </button>
  </a>
  <a href="{{gitHub}}" target="_blank" rel="noopener noreferrer"
  style="font-style: none; color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <ng-icon name="bootstrapGithub"></ng-icon>
    </button>
  </a>
</mat-toolbar>

<main>
  <section class="email-input">
    <app-email-component></app-email-component>
  </section>

  <section class="email-content">

  </section>
</main>